.ballot {
  display: flex;
  flex-direction: column;
}

.ballotItems {
  display: flex;
  flex-wrap: wrap;
}

.ballotItemTitle {
  text-align: center;
}

.ballotItems span {
  transition: all 0.15s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 350px;
  margin-right: 3.3333%;
  margin-bottom: 3.3333%;
  padding: 1em;
}

@media (max-width: 600px) {
  .ballotItems span {
    width: 100%;
  }
}

.ballotItemSelected {
  background-color: var(--nomineeCard);
}

.ballotItems span:hover {
  background-color: var(--cardAndButtonHover);
}

.imageWrapper {
  margin: 0 auto;
  max-width: 150px;
  max-height: 150px;
}

.nominationImage {
  border-radius: 50%;
}

.ballotItems span:nth-of-type(3) {
  margin-right: 0;
}

.ballotSelectionButton {
  margin-top: 1em;
}

.hideBallotButton {
  visibility: hidden;
}
