.main {
  display: flex;
  flex-direction: column;
  margin: 0 21.42%;
}

.submitBallotButton {
  background-color: var(--nomineeCard);
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.submitBallotButton:hover {
  background-color: var(--cardAndButtonHover);
}

.submitBallotButton:disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
